@model IEnumerable<WebApplication.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p><a href="/Employee/Create">新增員工</a></p>


<div class="card shadow mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        員工查詢表
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="display nowrap dataTable" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            員工ID
                        </th>
                        <th>
                            姓名
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#dataTable').DataTable({
            pagingType: 'full_numbers',
            order: [[0, 'asc']],
        });
    });

</script>
